@import '~bootstrap/scss/bootstrap';

.category-heading {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
}

.category-pictures {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 20px 10px 100px;
  padding: 0px 5px;
}

.cat-col {
  flex: 25%;
  padding: 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: 'rgba(0,0,0,.5)';
}

.art .photo .dance .gaming {
  margin-bottom: 50px;
}

.music .cooking .mixology .fitness {
  margin-top: 50px;
}

.art {
  &:hover .image-overlay {
    opacity: 0.5;
  }
}

.music:hover .image-overlay {
  opacity: 0.5;
}

.photo:hover .image-overlay {
  opacity: 0.5;
}

.cooking:hover .image-overlay {
  opacity: 0.5;
}

.dance:hover .image-overlay {
  opacity: 0.5;
}

.mixology:hover .image-overlay {
  opacity: 0.5;
}

.gaming:hover .image-overlay {
  opacity: 0.5;
}

.fitness:hover .image-overlay {
  opacity: 0.5;
}

.image-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.viewall-btn {
  background-color: #6d4d97;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  display: block;
  height: 50px;
  width: 400px;
  margin-bottom: 10px;
}

.done-btn {
  background-color: #6574fe;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  display: block;
  height: 50px;
  width: 400px;
}
