.features-main {
  padding-top: 2vh;
  padding-left: 10vw;
  .features-item {
    margin-top: 8vh;
    .features-text {
      font-size: 3vw;
      color: black;
      bottom: 1.5vh;
      position: relative;
    }
    .features-svg {
      fill: #6574fe;
      width: 5vw;
      margin-right: 5vw;
    }
  }
}
